.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-card {
    width: 300px;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      width: 48%;
    }
  }
}

small {
  color: red;
}
