.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #efefef;

  .login-card {
    width: 300px;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
      width: 48%;
    }
  }
}

small {
  color: red;
}

.p-field {
  margin: 40px 0;
}

// .fondo-imagen {
//   background-image: url('assets/Emplresa.png');
//   background-size: cover;
//   background-position: center;
// }

.p-card-body {
  margin-top: 90px !important;
}
