<div class="login-container">
  <p-card header="Inicia Sesión" class="login-card">
    <form [formGroup]="form">
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">Email</label>
          <input
            id="email"
            pInputText
            formControlName="email"
            type="email"
            required
          />
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <small *ngIf="form.get('email')?.errors?.['required']"
              >Email es requerido.</small
            >
            <small *ngIf="form.get('email')?.errors?.['email']"
              >Email no es válido.</small
            >
          </div>
        </div>

        <div class="p-field">
          <label for="clave">Contraseña</label>
          <input
            id="clave"
            pInputText
            formControlName="clave"
            type="password"
            required
          />
          <div
            *ngIf="
              form.get('password')?.invalid && form.get('password')?.touched
            "
          >
            <small *ngIf="form.get('password')?.errors?.['required']"
              >Contraseña es requerida.</small
            >
            <small *ngIf="form.get('password')?.errors?.['minlength']"
              >Contraseña debe tener al menos 6 caracteres.</small
            >
          </div>
        </div>

        <div class="form-buttons">
          <button
            pButton
            type="button"
            label="Recuperar Contraseña"
            (click)="recoverPassword()"
          ></button>
          <button
            pButton
            type="submit"
            label="Iniciar Sesión"
            (click)="login()"
          ></button>
        </div>
      </div>
    </form>
  </p-card>
</div>
