<app-toolbar [nombreEmpleado]="nombreEmpleado" [titulo]="titulo"></app-toolbar>

<p-table
  #dt
  [value]="employees"
  [lazy]="true"
  (onLazyLoad)="loadEmployees($event)"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rowsPerPageOptions]="[10, 25, 50]"
  [globalFilterFields]="[
    'email',
    'nombre',
    'apellido',
    'puestoTrabajo',
    'tipoContrato',
    'status',
  ]"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between align-items-center">
      <h5 class="m-0">Gestión de Empleados</h5>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Buscar..."
        />
      </span>
      <button
        pButton
        type="submit"
        label="Agregar Empleado"
        [style]="{
          'background-color': 'var(--blue-900)',
          border: 'var(--blue-900)',
          'margin-left': '10px',
        }"
        (click)="agregarEmpleado()"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="email">
        Email <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="nombre">
        Nombre <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th pSortableColumn="apellido">
        Apellido <p-sortIcon field="apellido"></p-sortIcon>
      </th>
      <th pSortableColumn="fechaNacimiento">
        Fecha de Nacimiento <p-sortIcon field="fechaNacimiento"></p-sortIcon>
      </th>
      <th pSortableColumn="puestoTrabajo">
        Puesto de Trabajo <p-sortIcon field="puestoTrabajo"></p-sortIcon>
      </th>
      <th pSortableColumn="tipoContrato">
        Tipo de Contrato <p-sortIcon field="tipoContrato"></p-sortIcon>
      </th>
      <th pSortableColumn="fechaInicioContrato">
        Fecha de Inicio <p-sortIcon field="fechaInicioContrato"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        Estado <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.email }}</td>
      <td>{{ employee.nombre }}</td>
      <td>{{ employee.apellido }}</td>
      <td>{{ employee.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ employee.puestoTrabajo }}</td>
      <td>{{ employee.tipoContrato }}</td>
      <td>{{ employee.fechaInicioContrato | date: 'dd/MM/yyyy' }}</td>
      <td>
        <p-tag
          [value]="employee.status"
          [style]="{ width: '50px', 'background-color': '#00294c' }"
          [severity]="getSeverity(employee.status)"
        ></p-tag>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          (click)="editEmployee(employee)"
          [outlined]="true"
          size="small"
        ></button>
        <button
          *ngIf="employee.status === 'activo'"
          pButton
          icon="pi pi-trash"
          [outlined]="true"
          size="small"
          (click)="deleteEmployee(employee, $event)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '500px' }"
>
  <ng-template pTemplate="header"> </ng-template>
  <ng-template pTemplate="content">
    <app-employee-profile [employee]="selectedEmployee"></app-employee-profile>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cerrar"
      [style]="{
        'background-color': 'var(--blue-900)',
        border: 'var(--blue-900)',
      }"
      (click)="displayModal = false"
    ></button>
  </ng-template>
</p-dialog>
