<app-toolbar [nombreEmpleado]="nombreEmpleado" [titulo]="titulo"></app-toolbar>

<p-table
  #dt
  [value]="employees"
  [lazy]="true"
  (onLazyLoad)="loadEmployees($event)"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rowsPerPageOptions]="[10, 25, 50]"
  [globalFilterFields]="[
    'email',
    'nombre',
    'apellido',
    'puestoTrabajo',
    'tipoContrato',
    'status',
  ]"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between align-items-center">
      <h5 class="m-0">Gestión de Empleados</h5>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Buscar..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="email">
        Email <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="nombre">
        Nombre <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th pSortableColumn="apellido">
        Apellido <p-sortIcon field="apellido"></p-sortIcon>
      </th>
      <th pSortableColumn="fechaNacimiento">
        Fecha de Nacimiento <p-sortIcon field="fechaNacimiento"></p-sortIcon>
      </th>
      <th pSortableColumn="puestoTrabajo">
        Puesto de Trabajo <p-sortIcon field="puestoTrabajo"></p-sortIcon>
      </th>
      <th pSortableColumn="tipoContrato">
        Tipo de Contrato <p-sortIcon field="tipoContrato"></p-sortIcon>
      </th>
      <th pSortableColumn="fechaInicioContrato">
        Fecha de Inicio <p-sortIcon field="fechaInicioContrato"></p-sortIcon>
      </th>
      <th pSortableColumn="status">
        Estado <p-sortIcon field="status"></p-sortIcon>
      </th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.email }}</td>
      <td>{{ employee.nombre }}</td>
      <td>{{ employee.apellido }}</td>
      <td>{{ employee.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
      <td>{{ employee.puestoTrabajo }}</td>
      <td>{{ employee.tipoContrato }}</td>
      <td>{{ employee.fechaInicioContrato | date: 'dd/MM/yyyy' }}</td>
      <td>
        <p-tag
          [value]="employee.status"
          [severity]="getSeverity(employee.status)"
        ></p-tag>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="editEmployee(employee)"
        ></button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger"
          (click)="deleteEmployee(employee)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="displayModal"
  [style]="{ width: '450px' }"
  header="Empleado"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          id="email"
          formControlName="email"
          required
        />
        <small
          class="p-error"
          *ngIf="
            employeeForm.get('email')?.invalid &&
            employeeForm.get('email')?.touched
          "
        >
          Email es requerido y debe ser válido.
        </small>
      </div>
      <div class="field">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          pInputText
          id="nombre"
          formControlName="nombre"
          required
        />
        <small
          class="p-error"
          *ngIf="
            employeeForm.get('nombre')?.invalid &&
            employeeForm.get('nombre')?.touched
          "
        >
          Nombre es requerido.
        </small>
      </div>

      <div class="field">
        <label for="status">Estado</label>
        <p-dropdown
          id="status"
          [options]="statuses"
          formControlName="status"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione un estado"
        ></p-dropdown>
        <small
          class="p-error"
          *ngIf="
            employeeForm.get('status')?.invalid &&
            employeeForm.get('status')?.touched
          "
        >
          Estado es requerido.
        </small>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="displayModal = false"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="onSubmit()"
    ></button>
  </ng-template>
</p-dialog>
